{% extends "base.html" %}

{% block content %}
<a href="{% url 'expenses:category-create' %}">add</a>

<table border="1">
	<thead>
		<tr>
			<th>name</th>
			<th>count_category</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
	<!--Add number of expenses per category row in category list.-->
		{% for obj in about_categories %}
		<tr>
			<td>
				{{obj}}
			</td>
			<td>
				{{ obj.count_category }}
			</td>
			<td>
				<!--6.Add update view-->
				<a href="{% url 'expenses:category-delete' obj.id %}">delete</a>
				<a href="{% url 'expenses:category-update' obj.id %}">update</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
